.footer {
  background-color: var(--color-light-primary);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}
.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer-block {
  flex: 1 0 250px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.footer a {
  color: var(--color-heading);
}
.footer a:hover {
  color: var(--color-primary);
}
.footer ul {
  list-style: none;
}
.footer li {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-border);
}