.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1220px;
}
.section {
  width: 100%;
  margin: 0;
  padding: 3rem 0;
}

.section-title {
  text-align: center;
  padding-bottom: 1rem;
}