/* Aligment */
.center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* color */
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-dark {
  color: var(--color-dark);
}
.bg-primary {
  background-color: var(--color-primary);
  color: #ffffff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}
.bg-light-primary {
  background-color: var(--color-light-primary);
}
.bg-light-secondary {
  background-color: var(--color-light-secondary);
}
/* Spacing */
.spacer,
.spacer1,
.spacer2,
.spacer3,
.spacer4 {
  display: block;
  width: 100%;
}
.spacer,
.spacer1 {
  height: 1rem;
}
.spacer2 {
  height: 2rem;
}
.spacer3 {
  height: 3rem;
}
.spacer4 {
  height: 4rem;
}
/* Image icon size */
.img-size1 {
  height: 1rem;
  width: auto;
}
.img-size2 {
  height: 2rem;
  width: auto;
}
.img-size3 {
  height: 3rem;
  width: auto;
}
/* Margin padding */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.p1 {
  padding: 1rem;
}
/* Content width */
.width-50,
.width-60,
.width-70,
.width-80 {
  width: 100%;
}
/* Responsive view */
.view-mobile {
  display: block;
}
.view-desktop {
  display: none;
}