/* variables */
:root {
  --color-primary: #82B05D;
  --color-secondary: #0D599F;
  --color-dark: #08345C;
  --color-light-primary: #DFE8D2;
  --color-light-secondary: #DAE4EF;
  --color-text: #49494D;
  --color-heading: #1E1F24;
  --color-border: #B7C3A0;
  --shadow-card: 0 0 4px 0 var(--color-secondary);
  --shadow-card-hover: 0 0 12px var(--color-primary);
  --font-body: "Roboto", sans-serif;
  --font-heading: "Outfit", sans-serif;
}

/* Default Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* html core defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Body defaults */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* set maximum width of images */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Body */
body {
  background: linear-gradient(to right bottom, #ECF2E3, #E2EBF6);
  color: var(--color-text);
  font-family: var(--font-body);
  font-weight: 400;
}

/* Typography -> Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

/* Typography -> Paragraph */
p {
  margin: 0 0 1.2rem 0;
}

/* Typography -> Links */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s linear;
}

a:hover {
  color: var(--color-secondary);
}

/* List */
ul {
  margin: 0;
  padding: 0;
}

/* Form */
button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

.form-item {
  margin-bottom: 1rem;
  max-width: 100%;
}

.form-field {
  max-width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  outline: none;
  box-shadow: var(--shadow-card);
  transition: all 0.3s ease;
}

.form-field:focus {
  box-shadow: var(--shadow-card-hover);
}

[type=text],
[type=email],
[type=password] {
  min-width: 70%;
}

textarea {
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1220px;
}

/* Section */
.section {
  width: 100%;
  margin: 0;
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  padding-bottom: 1rem;
}

/* Flex layout */
.flex-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.flex-item {
  flex: 1 0 300px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-10,
.flex-20,
.flex-30 {
  flex: 50%;
}

.flex-40,
.flex-50,
.flex-60,
.flex-70,
.flex-80,
.flex-90 {
  flex: 100%;
}

.header,
.header-top,
.page-header,
.section-front-hero {
  width: 100%;
  margin: 0;
}

.header-top {
  padding: 1rem 0;
}

.page-header {
  padding: 2rem 0 3rem 0;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Header -> Logo */
.site-logo {
  line-height: 1;
}

/* Header -> main nav */
.header-menu {
  display: flex;
  align-items: center;
}

.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 24px;
  overflow: hidden;
}

.mobile-menu-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary);
  transform-origin: left;
  transition: all 0.6s ease;
}

.mobile-menu-icon span:nth-child(2) {
  background-color: var(--color-primary);
}

.active-mobile-menu-icon span:nth-child(2) {
  display: none;
}

.active-mobile-menu-icon span:first-child {
  transform: rotate(45deg);
}

.active-mobile-menu-icon span:last-child {
  transform: rotate(-45deg);
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  background-color: var(--color-light-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  z-index: 20;
}

.active-mobile-menu {
  transform: translateX(0);
  overflow-y: scroll;
}

.main-nav .button {
  padding: 6px 1rem;
  border-radius: 2rem;
  color: #ffffff;
}

.main-nav .button:hover {
  background-color: var(--color-primary);
}

.main-menu {
  font-family: var(--font-heading);
  font-weight: 500;
  display: flex;
  gap: 0;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.main-menu a {
  color: var(--color-dark);
}

.main-menu li {
  position: relative;
}

.main-menu > li::before {
  position: absolute;
  content: "";
  bottom: 0;
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  transition: width 0.3s linear;
}

.main-menu a {
  display: block;
  padding: 10px 0;
}

/* sub menu */
.sub-menu {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin: 0;
  padding: 0 0 0 1.5rem;
  min-width: 160px;
}

.sub-menu > li {
  border-bottom: 2px solid var(--color-primary);
}

/* Header -> Inner page header */
.header-page {
  background-color: var(--color-light-secondary);
}

/* Frontpage hero */
.front-hero {
  width: 100%;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.front-hero-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front-hero-text {
  background: url(images/front-hero-left.svg) no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

.front-hero-image {
  background: url(images/front-hero-right.svg) no-repeat;
  background-size: contain;
  order: 1;
}

.hero-image {
  animation: bounceUp 2s linear infinite alternate both;
}

.main-container {
  padding: 2rem 0;
}

.footer {
  background-color: var(--color-light-primary);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-block {
  flex: 1 0 250px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.footer a {
  color: var(--color-heading);
}

.footer a:hover {
  color: var(--color-primary);
}

.footer ul {
  list-style: none;
}

.footer li {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-border);
}

@keyframes bounceUp {
  100% {
    transform: translateY(-2rem);
  }
}
@keyframes slideUP {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* cards */
.cards {
  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-card);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: var(--shadow-card-hover);
}

.card p:last-child {
  margin: 0;
}

.card-image img {
  max-height: 4rem;
  width: auto;
}

/* Buton */
.button {
  display: inline-block;
  background-color: var(--color-dark);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

.button-primary {
  background-color: var(--color-primary);
}

.button-secondary {
  background-color: var(--color-secondary);
}

/* Box */
.box {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
}

/* Pricing table*/
.price-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.price-card {
  flex: 1 0 300px;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--shadow-card);
}

.price-card:nth-child(odd) {
  background-color: var(--color-light-secondary);
}

.price-card:nth-child(even) {
  background-color: var(--color-light-primary);
}

.plan-price {
  font-size: 1.6rem;
}

.plan-details {
  list-style: none;
  margin: 2rem 0 1rem 0;
}

.plan-details li {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-secondary);
}

.plan-details li:last-child {
  border-bottom: 0;
}

/* Dedicated server plans */
.server-plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Faq */
.faq {
  flex: 100%;
}

.faq-title,
.faq-ans {
  width: 100%;
  padding: 10px;
}

.faq-title {
  background-color: var(--color-light-primary);
  border-radius: 10px 10px 0 0;
}

.faq-title h4 {
  font-size: 1.3rem;
}

.faq-ans {
  background-color: var(--color-light-secondary);
}

/* social icons */
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons li {
  padding: 0;
  border: none;
}

.social-icons a {
  background-color: var(--color-light-secondary);
  color: var(--color-primary);
  display: grid;
  place-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  transition: all 0.3s linear;
}

.social-icons a:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* Aligment */
.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* color */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-dark {
  color: var(--color-dark);
}

.bg-primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.bg-light-primary {
  background-color: var(--color-light-primary);
}

.bg-light-secondary {
  background-color: var(--color-light-secondary);
}

/* Spacing */
.spacer,
.spacer1,
.spacer2,
.spacer3,
.spacer4 {
  display: block;
  width: 100%;
}

.spacer,
.spacer1 {
  height: 1rem;
}

.spacer2 {
  height: 2rem;
}

.spacer3 {
  height: 3rem;
}

.spacer4 {
  height: 4rem;
}

/* Image icon size */
.img-size1 {
  height: 1rem;
  width: auto;
}

.img-size2 {
  height: 2rem;
  width: auto;
}

.img-size3 {
  height: 3rem;
  width: auto;
}

/* Margin padding */
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 1rem;
}

/* Content width */
.width-50,
.width-60,
.width-70,
.width-80 {
  width: 100%;
}

/* Responsive view */
.view-mobile {
  display: block;
}

.view-desktop {
  display: none;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* Header */
  .main-nav {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    transform: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  .main-menu {
    flex-direction: row;
    gap: 2rem;
  }
  .main-menu > li::before {
    width: 20px;
  }
  .main-menu > li:hover::before {
    width: 100%;
  }
  .main-menu a {
    padding: 0;
  }
  /* Sub-menu */
  .sub-menu {
    position: absolute;
    display: none;
    background-color: #ffffff;
    padding: 0;
    min-width: 160px;
  }
  .sub-menu a {
    padding: 6px 0 6px 12px;
  }
  .has-children:hover .sub-menu {
    display: flex;
    animation: slideUP 0.5s linear forwards;
  }
  .sub-menu > li {
    border-bottom: 1px solid var(--color-primary);
  }
  .page-header {
    padding: 3rem 0 4rem 0;
  }
  /* Frontpage hero */
  .front-hero {
    flex-direction: row;
  }
  .front-hero-section {
    min-height: calc(100vh - 2rem);
  }
  .front-hero-text {
    order: 1;
  }
  .front-hero-image {
    order: 2;
  }
  /* Layout */
  .flex-10 {
    flex: 10%;
  }
  .flex-20 {
    flex: 20%;
  }
  .flex-30 {
    flex: 30%;
  }
  .flex-40 {
    flex: 40%;
  }
  .flex-50 {
    flex: 50%;
  }
  .flex-60 {
    flex: 60%;
  }
  /* components */
  .faq {
    flex: 40%;
  }
  /* Shortcodes -> Content width */
  .width-50 {
    width: 50%;
  }
  .width-60 {
    width: 60%;
  }
  .width-70 {
    width: 70%;
  }
  .width-80 {
    width: 80%;
  }
  /* Responsive view */
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */