/* variables */
:root {
  --color-primary: #98BF79;
  --color-secondary: #0D599F;
  --color-dark: #08345C;
  --color-light-primary: #E9EDE2;
  --color-light-secondary: #DAE4EF;
  --color-text: #49494D;
  --color-heading: #1E1F24;
  --color-border: #CBD2BE;
  --shadow-card: 0 0 12px 2px #ced0d6;
  --shadow-card-hover: 0 0 16px 2px #ced0d6;
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

/* Default Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* html core defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Body defaults */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* set maximum width of images */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Body */
body {
  background: -webkit-gradient(linear, left top, right bottom, from(#ECF2E3), to(#E2EBF6));
  background: linear-gradient(to right bottom, #ECF2E3, #E2EBF6);
  color: var(--color-text);
  font-family: var(--font-body);
  font-weight: 400;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
}

/* List */
ul {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1220px;
}

/* Section */
.section {
  width: 100%;
  margin: 0;
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  padding-bottom: 1rem;
}

/* Flex column */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.header,
.header-top,
.page-header,
.section-front-hero {
  width: 100%;
  margin: 0;
}

.header-top {
  padding: 1rem 0;
}

.page-header {
  padding: 3rem 0 4rem 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header -> Logo */
.site-logo {
  line-height: 1;
}

/* Header -> main nav */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main-nav .button {
  padding: 6px 1rem;
  border-radius: 2rem;
  color: #ffffff;
}

.main-nav .button:hover {
  background-color: var(--color-primary);
}

.main-menu {
  font-family: var(--font-heading);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu a {
  color: var(--color-dark);
}

.main-menu li {
  position: relative;
}

.main-menu li::before {
  position: absolute;
  content: '';
  bottom: 0;
  background-color: var(--color-primary);
  width: 20px;
  height: 2px;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.main-menu li:hover::before {
  width: 100%;
}

/* Header -> Inner page header */
.header-page {
  background-color: var(--color-light-secondary);
}

/* Frontpage hero */
.front-hero {
  width: 100%;
  min-height: calc(100vh - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-hero-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 2rem);
}

.front-hero-text {
  background: url(images/front-hero-left.svg) no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.front-hero-image {
  background: url(images/front-hero-right.svg) no-repeat;
  background-size: contain;
}

.hero-image {
  -webkit-animation: bounceUp 2s linear infinite alternate both;
          animation: bounceUp 2s linear infinite alternate both;
}

.main {
  padding: 0;
}

.footer {
  background-color: var(--color-light-primary);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.footer-bottom {
  padding-top: 1rem;
}

.footer a {
  color: var(--color-heading);
}

.footer a:hover {
  color: var(--color-primary);
}

.footer ul {
  list-style: none;
}

.footer li {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-border);
}

@-webkit-keyframes bounceUp {
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes bounceUp {
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

/* Aligment */
.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* color */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

/* cards */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  min-height: 200px;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: var(--shadow-card-hover);
          box-shadow: var(--shadow-card-hover);
}

.card-image img {
  max-height: 4rem;
  width: auto;
}

/* Buton */
.button {
  display: inline-block;
  background-color: var(--color-dark);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-primary {
  background-color: var(--color-primary);
}

.button-secondary {
  background-color: var(--color-secondary);
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */